body {
  font-family: 'Noto Sans Japanese', sans-serif;
  color: #333;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.marginleft10 {
  margin-left: 10px;
}


/* ヘッダー */
#pageHeader {
  height: 60px;
  width: 100%;
  margin: 0 0 70px 0;
}

#pageHeader .header-wrapper {
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: #fff;
}

#pageHeader .header-logo {
  padding: 15px 0 15px 55px;
  float: left;
  width: 58px;
  height: 30px;
}

#pageHeader .header-menu {
  height: 60px;
  float: right;
}

#pageHeader .header-menu ul {
  margin: 0;
}

#pageHeader .header-menu ul li {
  list-style-type: none;
  padding: 17px;
  float: left;
}

#pageHeader .header-menu ul li:last-child {
  margin-left: 26px;
  padding: 0;
}

#pageHeader .header-menu ul li:last-child a {
  background-color: #005bac;
  width: 60px;
  height: 60px;
  display: inline-block;
  position: relative;
}

#pageHeader .header-menu ul li:last-child span {
  display: inline-block;
  border-bottom: 2px solid #fff;
  width: 20px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#pageHeader .header-menu ul li:last-child a span:nth-child(1) {
  top: calc(50% - 9px);
}

#pageHeader .header-menu ul li:last-child a span:nth-child(2) {
  top: calc(50% - 1px);
}

#pageHeader .header-menu ul li:last-child a span:nth-child(3) {
  top: calc(50% + 8px);
}


/* パンくずリスト */
.topicPath {
  max-width: 1000px;
  margin: 0 auto 25px auto;
}

.topicPath p {
  font-size: 12px;
  color: #999;
  margin: 0;
}

.topicPath a {
  text-decoration: none;
  color: #999;
}


/* =====ページメイン===== */
#pageMain {
  padding-bottom: 120px;
}

/* メインヘッダー */
#pageMain .main-header {
  position: relative;
  margin: 0 auto 30px auto;
  width: 100%;
  height: 250px;
}

#pageMain .main-header .main-header-text {
  width: 1000px;
  margin: 0 auto;
  color: #fff;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
}


#pageMain .main-header .main-header-text p {
  font-size: 20px;
  line-height: 1.88;
  padding: 0;
  margin: 0 0 10px 0;
}

#pageMain .main-header .main-header-text h1 {
  font-size: 28px;
  line-height: 1.5;
  margin: 0 0 10px 0;
}

#pageMain .main-header img {
  object-fit: cover;
}

/* シェア */
#pageMain .article-container .share {
  max-width: 800px;
  height: 34px;
  margin: 0 auto 40px auto;
}

#pageMain .article-container .share .share-float {
  float: right;
  width: 172px;
  height: 34px;
  margin: 0 0 0 auto;
}

#pageMain .article-container .share .share-float ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pageMain .article-container .share .share-float ul li {
  display: inline-block;
}

#pageMain .article-container .share .share-float ul li:first-child {
  font-size: 11px;
  font-weight: bold;
  color: #666;
  margin: 0;
  line-height: 34px;
  cursor: default;
}

#pageMain .article-container .share .share-float ul li a img {
  width: 24px;
  height: 24px;
}

/* メインコンテンツ */
#pageMain .article-container {
  width: 820px;
  margin: 0 auto;
}

#pageMain .article-container .sectionA {
  width: 800px;
  margin: 0 auto;
}

#pageMain .article-container .heading {
  height: 33px;
  position: relative;
  margin-bottom: 30px;
}

#pageMain .article-container .heading h2 {
  font-size: 22px;
  line-height: 1.5;
  margin: 0;
  padding: 0 0 0 32px;
}

#pageMain .article-container .heading span {
  background: url("images/icon/heading.png") no-repeat;
  background-size: contain;
  display: inline-block;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 5.5px;
  left: 0;
}

#pageMain .article-container p {
  font-size: 16px;
  line-height: 1.88;
  padding: 0;
  margin: 0 0 16px;
}

/* メインコンテンツ画像 */
#pageMain .article-container .content-imageA {
  width: 800px;
  height: 432px;
  margin-top: 46px;
}

#pageMain .article-container .content-imageB {
  width: 800px;
  height: 516px;
  margin-bottom: 20px;
}

/* pdfリンク */
#pageMain .article-container .btn {
  text-align: center;
  margin: 0 0 60px 0;
}

#pageMain .article-container .btn .btn-container {
  display: inline-flex;
  background: #005bac;
  border: solid 1px #005bac;
  margin: 20px 0 0 0;
}

#pageMain .article-container .btn .btn-container:hover {
  opacity: 0.7;
}

#pageMain .article-container .btn .btn-container a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 15px 20px 15px 0;
}

#pageMain .article-container .btn .btn-container .chevronRight {
  color: #fff;
  width: 20px;
  padding: 0;
  line-height: 71px;
  font-size: 0.7em;
}

#pageMain .article-container .btn .btn-container .btn-text {
  font-size: 16px;
  line-height: 1.2;
}

/* 取り組み事例 */
#pageMain .article-container .sectionB {
  width: 820px;
  margin: auto;
  margin-left: 10px;
}

#pageMain .article-container .content-example {
  width: 820px;
  margin-bottom: 60px;

}

#pageMain .article-container .content-example .wrapper {
  width: 25%;
  display: inline-block;
  box-sizing: border-box;
  float: left;
}

#pageMain .article-container .content-example .content {
  height: 334px;
  overflow: hidden;
  margin-bottom: 30px;
  padding-right: 20px;
  overflow: visible;
}

#pageMain .article-container .content-example .content .content-image {
  overflow: hidden;
  border: solid 1px #ccc;
}

#pageMain .article-container .content-example .content .content-image a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

#pageMain .article-container .content-example .content .content-image:hover {
  border: solid 1px #0c419a;
}

#pageMain .article-container .content-example .content .content-image p {
  font-size: 12px;
  color: #fff;
  font-weight: 500;
  background-color: #005bac;
  padding: 2px 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 190px;
}

#pageMain .article-container .content-example .content .content-image img {
  width: 100%;
  height: 183px;
  object-fit: cover;
  object-position: 100% 100%;
  vertical-align: bottom;
}

#pageMain .article-container .content-example .content .content-link a {
  display: block;
  color: #333;
  margin: 10px 0 0 0;
  font-size: 14px;
  line-height: 1.5;
}

#pageMain .article-container .content-example .content .content-link a:hover {
  text-decoration: underline;
}

#pageMain .article-container .content-example .content .content-link ul {
  margin: 10px 0 5px 0;
  padding-left: 0;
  font-size: 0;
}

#pageMain .article-container .content-example .content .content-link ul li {
  border: solid 1px #ccc;
  border-radius: 10px;
  margin: 0 4px 5px 0;
  float: left;
}

#pageMain .article-container .content-example .content .content-link ul li a {
  display: block;
  padding: 6px 10px;
  margin: 0;
  line-height: 1.4;
  font-size: 12px;
}

#pageMain .article-container .content-example .content .content-link p time {
  margin: 0;
  font-size: 14px;
  line-height: 1.88;
  color: #666;
}

#pageMain .article-container .navi {
  margin: 0 auto;
  width: 790px;
  margin-top: 120px;
}

#pageMain .article-container .navi p {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#pageMain .article-container .navi p a {
  color: #0c419a;
}

#pageMain .article-container .navi p a:hover {
  text-decoration: underline;
}

#pageMain .article-container .navi p:first-child {
  float: left;
}

#pageMain .article-container .navi p:last-child {
  float: right;
}

#pageMain .article-container .share:nth-child(n+1) {
  max-width: 800px;
  height: 34px;
  margin: 60px auto 0 auto;
}

/* サブコンテンツ */
#pageMain .aside-container {
  width: 1000px;
  margin: 0 auto;
  border-top: solid 2px #333;
  margin-top: 120px;
}

#pageMain .aside-container p {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.88;
  border-bottom: dotted 1px #999;
  padding: 18px 0 30px;
  margin: 0;
}

#pageMain .aside-container ul {
  padding: 0;
  margin: 0;
}

#pageMain .aside-container .list-category {
  display: block;
  padding: 30px 0;
  border-bottom: dotted 1px #999;
  width: 100%;
}

#pageMain .aside-container .list-category strong {
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 1.88;
}

#pageMain .aside-container .list-category ul li {
  padding-right: 10px;
  height: 41px;
  width: 25%;
  box-sizing: border-box;
  font-size: 14px;
  float: left;
}

#pageMain .aside-container .list-category ul li a::before,
#pageMain .aside-container .pageback a::before {
  content: "";
  background: url("images/icon/chevronRight.svg") no-repeat;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0;
  top: 2px;
}

#pageMain .aside-container .list-category ul li a,
#pageMain .aside-container .pageback a {
  display: block;
  padding-left: 15px;
  margin: 20px 0 0;
  position: relative;
  color: #0c419a;
  cursor: pointer;
}

#pageMain .aside-container .list-category ul li a:hover,
#pageMain .aside-container .pageback a:hover {
  text-decoration: underline;
}

#pageMain .aside-container .pageback {
  margin: 60px 0 30px;
}

#pageMain .aside-container .pageback a::before {
    background: url("images/icon/chevronLeft.svg") no-repeat;
}

#pageMain .aside-container .pageback a {
  font-size: 16px;
}


/* メインフッター */
/* follow us */
#pageFooter {
  width: 100%;
  padding: 0 0 112px;
}

#pageFooter .footer-acount {
  width: 100%;
}

#pageFooter .footer-acount ul {
  text-align: center;
  border-top: 2px solid #999;
  border-bottom: 2px solid #999;
  padding: 30px 0;
  height: 30px;
  font-size: 0;

}

#pageFooter .footer-acount ul li {
  display: inline-block;
  margin: 0 0 0 40px;
  vertical-align: middle;
}

#pageFooter .footer-acount ul li:first-child {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  color: #005bac;
  margin: 0;
  cursor: default;
  font-family: "HelveticaNeue";
}

#pageFooter .footer-acount ul li a img {
  width: 28px;
  height: 28px;
}

/* フッターナビ */
#pageFooter .footer-navi {
  width: 1000px;
  margin: 40px auto 70px auto;
}

#pageFooter .footer-navi .footer-navi-section {
  display: flex;
}

#pageFooter .footer-navi .footer-navi-section .list-category {
  width: 25%;
  margin: 0 10px;
  position: relative;
}

#pageFooter .footer-navi .footer-navi-section .list-category a::before {
  content: "";
  background: url("images/icon/chevronRight.svg") no-repeat;
  background-size: contain;
  display: inline-block;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0;
  top: 19px;
  margin: 0 8px 0 0;
}

#pageFooter .footer-navi .footer-navi-section .list-category a {
  display: block;
  color: #666;
  font-size: 16px;
  font-weight: bold;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 12px 0 12px 14px;
}

#pageFooter .footer-navi .footer-navi-section .list-category li {
  margin: 13px 0 16px 0;
  position: relative;
}

#pageFooter .footer-navi .footer-navi-section .list-category li a::before {
  top: 5px;
}

#pageFooter .footer-navi .footer-navi-section .list-category li a {
  font-size: 14px;
  font-weight: normal;
  border: none;
  padding: 0 0 0 14px;
}

#pageFooter .footer-navi .footer-navi-section .list-category a:hover {
  text-decoration: underline;
}

/* フッターガイド */
#pageFooter .footer-guide {
  width: 1000px;
  margin: 0 auto 15px auto;
}

#pageFooter .footer-guide li {
  font-size: 12px;
  border-left: solid 1px #999;
  float: left;
  padding: 0 15px 0 15px;
  margin-bottom: 5px;
}

#pageFooter .footer-guide li:first-child {
  border-left: none;
  padding-left: 0;
}

#pageFooter .footer-guide li a {
  color: #999;
}

#pageFooter .footer-guide li a:hover {
  text-decoration: underline;
}

/* Copyright */
#pageFooter .copyright {
  width: 1000px;
  margin: 0 auto;
  font-family: HelveticaNeue;
  font-size: 10px;
  color: #333;
}

/* ページトップ */
#pageFooter .pagetop {
  width: 60px;
  height: 60px;
  background-color: #333;
  position: fixed;
  right: 0;
  bottom: 0;
}

#pageFooter .pagetop a {
  display: inline-block;
  height: 100%;
  width: 100%;

}
